.formWrapper {
  margin: 50px auto;
  padding: 25px 75px;
  border: 2px solid rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  max-width: 400px;
}

.formWrapper h1 {
  font-size: 1.75em;
}

.signInForm{
  display: flex;
  flex-direction: column;
  min-width: 350px;
  max-width: 50%;
  margin: 0 auto;
}

.signInForm .errorText {
  font-size: 0.8em;
  color: var(--error-text-color);
}

.signInForm label {
  margin-top: 10px;
  font-weight: var(--main-font-semi-bold);
}

.signInForm input {
  width: 100%;
  padding-left: 5px;
}

.signInForm button {
  max-width: fit-content;
  margin: 10px 0;
}

.bold {
  font-weight: 700;
}

@media only screen and (max-width: 576px) {
  .formWrapper {
    padding: 25px 5%;
  }

  .signInForm {
    min-width: 200px;
    max-width: 80%;
  }
}