.quantityWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}

.quantityWrapper input {
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  max-width: 60px;
  font-size: 1.1em;
}

.quantityButton {
  background-color: var(--button-black-bg-color);
  color: var(--button-black-color);
  border: none;
  border-radius: 5px;
  font-weight: var(--main-font-semi-bold);
  cursor: pointer;
  margin: 0 10px;
  height: 2.5em;
  width: 2.5em;
}

