.navbar {
  background-color: var(--nav-bg-color);
  min-width: 100%;
  height: 70px;
  color: var(--logo-font-color);
}
.navbar a {
  text-decoration: none;
  color: inherit;
}

.navbarContentWrapper {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.navbarContentWrapper .logo{
  font-size: var(--logo-font-size);
  font-family: var(--logo-font);
}

.mobileMenuWrapper {
  display: none;
}



@media only screen and (max-width: 768px) {
  .navbarContentWrapper .logo{
    font-size: var(--logo-font-size-mobile);
  }
}
