.cartProductList ul {
  list-style-type: none;
}

.cartItemWrapper {
  width: 100%;
  height: 10%;
  margin: 50px 0;
}

.emptyCartWrapper {
  text-align: center;
  padding: 10%;
}

.cartSummary {
  border-top: 2px solid rgba(0, 0, 0, 0.25);
  padding-left: 40px;
}

.cartSummary p {
  font-size: 1.25em;
  font-weight: var(--main-font-bold);
}

.cartSummary button {
  margin: 0;
}

@media only screen and (max-width: 992px) {
  .cartProductList {
    padding-bottom: 100px;
  }
}

@media only screen and (max-width: 576px) {
  .cartProductList ul {
    padding: 0;
  }

  .cartSummary {
    padding: 0;
  }
}