.infoWrapper {
  padding: 30px 40px;
}

.infoWrapper p {
  margin: 2.5% 0;
}

.infoValue {
  font-weight: var(--main-font-semi-bold);
  margin: 0 5px;
}

@media only screen and (max-width: 460px) {
  .infoWrapper p {
    margin: 20px 0;
  }
}

@media only screen and (max-width: 300px) {
  .infoWrapper {
    padding: 30px 10px;
  }
}