.singleProductWrapper {
  background-color: var(--card-bg-color);
  margin: 35px 0;
  padding: 2.5%;
  font-size: 20px;
}


.productContent {
  display: flex;
}

.productInfoContainer {
  padding: 0 5%;
}

.imageWrapper {
  max-width: 45%;
}

.imageWrapper img {
  min-height: 350px;
  object-fit: cover;
  max-height: 500px;
}

.productNameWrapper {
  margin-bottom: 2.5%
}

.productNameWrapper h2 {
    margin: 0;
    font-size: 1.5em;
  }

  .productNameWrapper h3 {
    margin-top: 0;
    font-style: italic;
    font-weight: var(--main-font-semi-bold);
    font-size: 1.1em;
    opacity: 0.7;
    margin-bottom: 5px;
  }

  .cartButtonsWrapper {
    min-height: 50px;
    margin-top: 10%;
  }

  .quantityFieldContainer {
    display: flex;
    align-items: center;
  }

  .productPriceAndSize {
    font-size: 1.05em;
    margin-bottom: 15px;
  }

  .productPriceAndSize h4 {
    display: inline-block;
    margin-left: 5px;
  }

  .productPriceAndSize select {
    background-color: var(--card-bg-color);
  }

  .sizeLabel {
    margin-right: 10px;
  }

  @media only screen and (max-width: 992px) {
    .productContent {
      flex-direction: column;
      align-items: center;
    }

    .imageWrapper {
      max-width: none;
      margin-bottom: 25px;
    }
  }

  @media only screen and (max-width: 576px) {
    .singleProductWrapper {
      margin: 50px -5%;
    }
  }