.productList ul {
  width: 100%;
  display: grid;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 3.5%;
}

.productList li {
  padding-bottom: 75px;
}


@media only screen and (max-width: 992px) {
  .productList ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .productList ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 576px) {
  .productList ul {
    grid-template-columns: 1fr;
  }
}