.sectionTitle {
  margin: 5% 0;
  font-size: 1.6em;
  margin-left: 40px;
}

.userDataFormCheckbox {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.userDataFormCheckbox label {
  margin-left: 10px;
}

.userDataFormCheckbox input[type=checkbox] {
  height: 1.3em;
  width: 1.3em;
}

.userDataForm {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  max-width: 50%;
  margin: 0 auto;
}

.userDataForm label {
  margin-top: 10px;
  font-weight: var(--main-font-semi-bold);
}

.userDataForm input {
  padding: 10px;
}

.userDataForm input:disabled {
  cursor: not-allowed;
  background-color: #c9c9c9;
}

.userDataForm button {
  margin-top: 10px;
  margin-left: 0;
  max-width: fit-content;
}


@media only screen and (max-width: 992px) {
  .checkoutFormWrapper{
    padding-bottom: 100px;
  }
}