.cartProduct {
  display: flex;
}


.cartProductImageWrapper img {
  width: 125px;
  height: 100%;
  object-fit: cover;
}

.cartProductFormWrapper {
  margin: 0 20px;
  flex-basis: 30%;
}

.cartProductFormWrapper h3 {
  margin: 0;
  font-size: 1.3em;
}

.cartProductFormWrapper form > button {
  margin-left: 0;
}

.cartProductFormQuantity {
  margin: 10px 0;
}

.quantityFieldContainer {
  width: fit-content;
  margin-left: -10px;
}


.cartProductFormQuantity .itemPrice {
  font-weight: var(--main-font-semi-bold);
  font-size: 1.1em;
}


.cartProductFormComment textarea {
  margin: 5px 0;
  padding: 10px;
  resize: none;
}


@media only screen and (max-width: 576px) {
  .cartProductFormWrapper {
    max-width: 50%;
  }

  .cartProductForm textarea {
    max-width: 100%;
  }
}