.formWrapper {
  margin: 50px auto;
  padding: 25px 75px;
  border: 2px solid rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  max-width: 400px;
}

.formWrapper h1 {
  font-size: 1.75em;
}

.registerForm{
  display: flex;
  flex-direction: column;
  min-width: 350px;
  max-width: 50%;
  margin: 0 auto;
}

.registerForm label {
  margin-top: 10px;
  font-weight: var(--main-font-semi-bold);
}

.registerForm input {
  width: 100%;
}

.registerForm button {
  max-width: fit-content;
  margin: 10px 0;
}

.dangerText {
  color: var(--error-text-color);
  font-size: 0.85em;
}

.buttonsWrapper {
  display: flex;
}

.backButtonWrapper {
  margin-right: 10%;
}

.backButtonWrapper button {
  background-color: var(--button-grey-bg-color);
}

@media only screen and (max-width: 576px) {
  .formWrapper {
    padding: 25px 5%;
  }

  .registerForm {
    min-width: 200px;
    max-width: 80%;
  }
}